[submodule "themes/scientific-python-hugu-theme"]
	path = themes/scientific-python-hugu-theme
	url = https://github.com/scientific-python/scientific-python-hugo-theme
[submodule "themes/scientific-python-hugo-theme"]
	path = themes/scientific-python-hugo-theme
	url = https://github.com/scientific-python/scientific-python-hugo-theme
